*{
  font-family: Arial;
}
.container-fluid{
  background-color: #EFEFEF;
  height: 100vh;
}

p{
  font-weight: bolder;
  text-align: left;
}
div.card + div p{
  color:#01C1AA;
}

div.card{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(163,163,163,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(163,163,163,1);
  box-shadow: 0px 3px 5px 0px rgba(163,163,163,1)
}



